
body{
    position: relative;
}
nav{
    margin-left: 85%;
    margin-top: 1.5rem;
    
}
main{
    text-align: center;
    margin: 10%;
}
form{
    margin-top: 1.5rem;
}
input{
    width: 50%;
    height: 2.5rem;
    text-align: center;
    border: solid;
    border-radius: 2rem;
    border-width: 1px;
    border-color: lightgray;
}
button{
    width: 14.5%;
    height: 2.2rem;
    border: none;
    border-radius: 0.3rem;
    color: grey;
    margin: 0.5rem;
}
footer{
    display: flex;
    background-color: lightgray;
    padding: 1rem;
}
#footer-links{
    display: flex;
    margin-top: 3rem;
    margin-left: -3rem;
}
#left-footer{
    margin-right: 45rem;
}
#search-icon{
    margin: 1rem;
    position: absolute;
    color: gray;
}
#mic-icon{
    margin-top: 1rem;
    margin-left: 30rem;
    position: absolute;
    color: blue;
}

@media only screen and (max-width: 1000px){
    #left-footer{
        margin-right: 30rem;
    }
    #mic-icon{
        margin-top: 1rem;
        margin-left: 23rem;
        position: absolute;
        color: blue;
    }
}